body {
  background-color: #21222d;
  display: flex;
  justify-content: center;
}

.clock {
  color: #6E44FF;
  margin-top: 13rem;
  font-size: 4.5rem;
  letter-spacing: 5px;
  border-bottom: 2px solid #6E44FF;
  border-radius: 5%;
  padding: 1.5rem;
}
